
<br>
<form class="form-horizontal" [formGroup]="loginForm" (submit)="saveUser()">
    <div class="form-group">
        <label class="control-label col-sm-2">Id: </label>
        
            <input type="text" class="form-control" placeholder="Id" id="id" formControlName="id" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Name: </label>
        
            <input type="text" class="form-control" placeholder="Name" id="name" formControlName="name" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Username: </label>
        
            <input type="text" class="form-control" placeholder="Username" id="username" formControlName="username" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Email: </label>
        
            <input type="text" class="form-control" placeholder="Email" id="email" formControlName="email" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Street: </label>
        
            <input type="text" class="form-control" placeholder="Street" id="street" formControlName="street" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Suite: </label>
       
            <input type="text" class="form-control" placeholder="Suite" id="suite" formControlName="suite" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">City: </label>
        
            <input type="text" class="form-control" placeholder="City" id="city" formControlName="city" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Zipcode: </label>
        
            <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" formControlName="zipcode" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Latitude: </label>
        
            <input type="text" class="form-control" placeholder="Latitude" id="lat" formControlName="lat" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Longitude: </label>
        
            <input type="text" class="form-control" placeholder="Longitude" id="lng" formControlName="lng" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Phone: </label>
        
            <input type="text" class="form-control" placeholder="Phone" id="phone" formControlName="phone" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Website: </label>
        
            <input type="text" class="form-control" placeholder="Website" id="website" formControlName="website" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Company Name: </label>
        
            <input type="text" class="form-control" placeholder="Company Name" id="companyName" formControlName="companyName" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">Catch Phrase: </label>
        
            <input type="text" class="form-control" placeholder="catchPhrase" id="catchPhrase" formControlName="catchPhrase" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2">BS: </label>
        
            <input type="text" class="form-control" placeholder="BS" id="bs" formControlName="bs" size="50">
        
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="submit-btn btn btn-primary">Save</button>
        </div>
    </div>
  
</form>
