<div class="photos">
    <h1>Photos for this Album</h1>
    
    <mat-grid-list cols="2" rowHeight="2:1" *ngFor="let photo of photos" class="column">
        <mat-grid-tile><img [src]="photo.url" height="250px" width="250px" style="padding: 5px;"></mat-grid-tile>
        
      </mat-grid-list>
        
    
</div>
<!-- <div class="row">
        <div *ngFor="let photo of photos" class="column">
            <img [src]="photo.url" height="250px" width="250px">
        </div>
    </div> -->

<!-- <div *ngFor="let photo of photos">
            <img [src]="photo.url">
            
    </div> -->