<div class="posts">
    <h1>All Posts</h1>

    <ul>
        <li *ngFor="let post of (posts$ | async | 
        paginate: { 
            itemsPerPage: 10, 
            currentPage: page,
            totalItems: totalLength
        })">
            {{ post.title }} <button type="button" class="btn btn-primary" (click)="getLink(post.id)">More Info</button>
        </li>
    </ul>
    

      
<div>  
      
          <app-pagination [totalRecords]="this.totalLength" [recordsPerPage]="10" (onPageChange)="page = $event"></app-pagination>     
     
</div>  
</div>