<div>
  <mat-tab-group>
    <mat-tab label="Users">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      

        <ng-container matColumnDef="Street">
          <th mat-header-cell *matHeaderCellDef> Street </th>
          <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
        </ng-container>

        <ng-container matColumnDef="Suite">
          <th mat-header-cell *matHeaderCellDef> Suite </th>
          <td mat-cell *matCellDef="let element"> {{element.address.suite}} </td>
        </ng-container>
        
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
        </ng-container>

        <ng-container matColumnDef="Zipcode">
          <th mat-header-cell *matHeaderCellDef> Zipcode </th>
          <td mat-cell *matCellDef="let element"> {{element.address.zipcode}} </td>
        </ng-container>

        <ng-container matColumnDef="Latitude">
          <th mat-header-cell *matHeaderCellDef> Latitude </th>
          <td mat-cell *matCellDef="let element"> {{element.address.geo.lat}} </td>
        </ng-container>

        <ng-container matColumnDef="Longitude">
          <th mat-header-cell *matHeaderCellDef> Longitude </th>
          <td mat-cell *matCellDef="let element"> {{element.address.geo.lng}} </td>
        </ng-container>

        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="Website">
          <th mat-header-cell *matHeaderCellDef> Website </th>
          <td mat-cell *matCellDef="let element"> {{element.website}} </td>
        </ng-container>

        <ng-container matColumnDef="Company Name">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Catch Phrase">
          <th mat-header-cell *matHeaderCellDef> Catch Phrase </th>
          <td mat-cell *matCellDef="let element"> {{element.company.catchPhrase}} </td>
        </ng-container>

        <ng-container matColumnDef="BS">
          <th mat-header-cell *matHeaderCellDef> BS </th>
          <td mat-cell *matCellDef="let element"> {{element.company.bs}} </td>
        </ng-container>

        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef>  Edit</th>
          <td mat-cell *matCellDef="let element"> <button mat-stroked-button class="primary" (click)="editData(element)" class="btn btn-primary">Edit</button> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Add New User"> 
      <div class="container">
        <div class="center">
          <button mat-stroked-button class="primary" (click)="addUser('')">Add New User</button> 
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Logout"> 
      <div class="container">
        <div class="center">
      <button mat-stroked-button class="primary" (click)="LogoutUser()">Logout</button> 
        </div>
      </div>
    </mat-tab>
    <!-- <table class="users">
        <tr class="headers">
            <th>Id</th>
            <td>{{users.id}}</td>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Street</th>
            <th>Suite</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company Name</th>
            <th>Catch Phrase</th>
            <th>BS</th>
            <th></th>
        </tr>
        <tr (edit)="edit($event)" app-user *ngFor="let user of (users$ | async)" [user]="user">
        </tr>
    </table> -->
  </mat-tab-group>
</div>


