


<div class="tab">

<div class="posts">
    <mat-accordion>
    <mat-expansion-panel showToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>All Posts</mat-panel-title>
            <mat-panel-description>There are posts inside this</mat-panel-description>
</mat-expansion-panel-header>
    <div *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    
    <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let post of (posts$ | async | 
    paginate: { 
        itemsPerPage: 8, 
        currentPage: page,
        totalItems: totalLength
    })">
        <div class="col-md">
        <div class="card-body">
          <h5 class="card-title"><b>{{post.title}}</b></h5>
          <p class="card-text">{{post.body}}</p>
          <button mat-button class="primary" (click)="getLink(post.id)">More Info</button>
        </div>
    </div>
      </div>
    </div>
    <div class="pagination">  
        <app-pagination [totalRecords]="this.totalLength" [recordsPerPage]="8" (onPageChange)="page = $event"></app-pagination>        
</div>

    <!-- <mat-card class="typography" *ngFor="let post of (posts$ | async | 
    paginate: { 
        itemsPerPage: 10, 
        currentPage: page,
        totalItems: totalLength
    })"> 
    
    <mat-card-content >
        {{ post.title }}    
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button type="button" class="primary" (click)="getLink(post.id)">More Info</button>
    </mat-card-actions>

    </mat-card>

<div class="pagination">  
          <app-pagination [totalRecords]="this.totalLength" [recordsPerPage]="10" (onPageChange)="page = $event"></app-pagination>        
</div>   -->

</mat-expansion-panel>
</mat-accordion>
</div>

<div>
      


