
<!-- 
<div class="container">
  
  
  <router-outlet></router-outlet>
</div> -->

<mat-sidenav-container class="example-container" >
  <mat-sidenav #side  mode="side" closed>
    <div *ngIf="this.login.isLoggedIn">
    <h3 class="typography" class="project">Project</h3>
    <div class="sidenav" >
    <button mat-button routerLink="../home" routerLinkActive="active" color="primary"><mat-icon> person_pin</mat-icon> Users</button>
    
  
      <button mat-button routerLink="../posts" routerLinkActive="active" color="primary"><mat-icon>library_books</mat-icon> Posts</button>
       <button mat-button routerLink="../albums" routerLinkActive="active" color="primary"><mat-icon>photo</mat-icon> Album</button>
       <button mat-button routerLink="../todo" routerLinkActive="active" color="primary"><mat-icon>check_box</mat-icon> Todo</button>
       <!-- <button mat-button routerLink="../chart" routerLinkActive="active" color="primary"><mat-icon>check_box</mat-icon> Chart</button> -->
       <!-- <button mat-button routerLink="../photo" routerLinkActive="active" color="primary"><mat-icon>photo_library</mat-icon> Photos</button> -->
      </div>
    </div>
      </mat-sidenav>
  
  <mat-sidenav-content >
    <div>
      <div *ngIf="this.login.isLoggedIn">
    <button mat-button style="float: left;" (click)="side.toggle()">
      <mat-icon>list</mat-icon>
    </button>

    <button  mat-stroked-button style="float: right;" class="btn btn-danger" (click)="LogoutUser()"><mat-icon class="icon">power_settings_new</mat-icon>Logout</button>  
    <button  mat-button style="float: right; margin-right: 5px;" class="btn btn-primary" [matMenuTriggerFor]="belowMenu"><mat-icon>notifications</mat-icon></button> 
    <mat-menu #belowMenu="matMenu" yPosition="below" >
      <p mat-menu-item >{{message}}</p>
      
      <button class="btn btn-primary" (click)="clearMessage()" *ngIf="message"><mat-icon>close</mat-icon></button>
      <!-- <button mat-menu-item>{{message}}</button> -->
    </mat-menu>
    
  
  </div>
  </div>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
