.sidenav{
    
    margin-top: 50px;
}
button{
    display: block;
    
}
mat-sidenav{
    background-color: #fafafa;
    border: none;
}
.project{
    margin-left: 20px;
    color: purple;
    font-weight: bold;
    margin-top:10px;
}
