<div class="albums">
<div class="container text-center">
    
    <h1 class="typography">All Albums</h1>
<p *ngIf="isLoading"> <mat-spinner></mat-spinner></p>

    
<div class="row"> 
<mat-card class="column" class="typography" class="col-3 text-center" *ngFor="let album of (albums$ | async) | 
paginate: { 
    itemsPerPage: 9, 
    currentPage: page,
    totalItems: totalLength
}
"> 
    <mat-card-content >
    {{ album.title }}    
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button type="button" class="primary" (click)="getLink(album.id)">More Info</button>
    </mat-card-actions>
</mat-card>
</div> 
    <!-- <ul>
        <li *ngFor="let album of (albums$ | async) | 
        paginate: { 
            itemsPerPage: 10, 
            currentPage: page,
            totalItems: totalLength
        }
        ">
            {{ album.title }} <button type="button" class="btn btn-primary" (click)="getLink(album.id)">More Info</button>
        </li>
    </ul> -->
    
         <pagination-controls class="typography" (pageChange)="page = $event"></pagination-controls>
        </div> 
</div>