/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1400px;
    margin: 30px auto;
    overflow: auto;
    min-height: 500px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
  }